<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="lowblow.annoying_alarm">

    <uses-permission android:name="android.permission.MEDIA_MOUNTED" />
    <uses-permission android:name="android.permission.MEDIA_MOUNTED_READ_ONLY" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Motivated"
        tools:ignore="AllowBackup">



        <activity android:name="lowblow.annoying_alarm.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.PermissionActivity" />
        <activity android:name="lowblow.annoying_alarm.activity.AlarmSettingActivity" />
        <activity android:name="lowblow.annoying_alarm.activity.AlarmSoundActivity" />
        <activity
            android:name="lowblow.annoying_alarm.activity.wakeup_activity.AlarmWakeCustomActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:showOnLockScreen="true"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            tools:ignore="LockedOrientationActivity,UnusedAttribute" />
        <activity
            android:name="lowblow.annoying_alarm.activity.wakeup_activity.AlarmWakeMosquitoActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:showOnLockScreen="true"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            tools:ignore="LockedOrientationActivity,UnusedAttribute" />
        <activity
            android:name="lowblow.annoying_alarm.activity.wakeup_activity.AlarmWakeSirenActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:showOnLockScreen="true"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            tools:ignore="LockedOrientationActivity,UnusedAttribute" />

        <receiver android:name="lowblow.annoying_alarm.receiver.AlarmReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.sec" />
            </intent-filter>
        </receiver>

    </application>

</manifest>